@import 'global-variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.title {
    color: $neutral-white;
    font-family: $title-font-family;
    font-size: $title-font-size;
    font-weight: 500;
    line-height: $title-line-height;
}

.sub-title {
    color: $neutral-white;
    font-family: $sub-title-font-family;
    font-size: $sub-title-font-size;
    font-weight: 300;
    line-height: 1.5rem;
}

.text {
    color: $neutral-white;
    font-family: $text-font-family;
    font-size: $text-font-size;
    font-weight: 200;
    line-height: $text-line-height;
}
.weather-image{
    width: 3rem;
    height: 3rem;
}
.arrow-image{
    width: 40px;
}
.link{
    display: flex;
    gap: 5px;
    transition: transform 0.3s;
}
.link:hover{
    transform: scale(1.1);
}