$global-margin: 100px;

$title-font-size: 3rem;
$sub-title-font-size: 1.5rem;
$text-font-size: 1.125rem;

$title-line-height: 3rem;
$text-line-height: 1rem;

//цвета
$opacity-black: rgba(0, 0, 0, 0.2);
$neutral-dark-blue: #11327B;
$neutral-dark-green: #06516E;
$primary-cyan:#16F1FF;
$neutral-dark: #152742;
$neutral-blue: #35517D;
$primary-green: #2AEF84;
$neutral-white: #fff;
$opacity-white:rgba(255, 255, 255, 0.60);

